# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Rider / VSCode / Visual Studio
.idea/
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Test results
TestResult*/
*.trx
*.coverage
*.coveragexml

# Packages
*.nupkg
*.snupkg
*.nuspec
*.dll
*.exe
*.pdb

# Publish folder
/app/publish/
/app/build/
out/

# Node/NPM (n?u có frontend trong solution)
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.*

# Docker
docker-compose.override.yml
.docker/
*.pid
*.seed

# Others
*.swp
*.bak
*.tmp
*.log
